<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TI Feed Age Report</title>

        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.css" type="text/css" />
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-1.2.0.min.js"></script>
        {{ script }}
        <!-- COPY/PASTE SCRIPT HERE -->

    </head>
    <body>

        {% for key, value in my_dict.iteritems() %}
          <h2>  {{ titles[key] }} </h2>
           {{ value }} 
            
        
        {% endfor %}
        <!-- INSERT DIVS HERE -->
    </body>
</html>